//Import Libs
@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import 'libs/fonts';

//Styles
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-display: swap;
}

ul, li, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
    
.container {
    max-width: 1200px;
    margin: 0 auto;
}

//Import Blocks

//Import Base
@import 'blocks/policy';
@import 'blocks/footer';
@import 'blocks/access';
@import 'blocks/storage';
@import 'blocks/benefits';
@import 'blocks/analytics';
@import 'blocks/solutions';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/contacts';
@import 'base/variables';
@import 'base/mixins';
@import 'base/media';