.access {
    margin-top: 90px;
    min-height: 510px;
    text-align: center;
    &__title {
        padding-top: 70px;
        font-size: 30px;
        font-weight: 300;
        color: rgb(57, 57, 57);
        line-height: 1.2;
        text-align: center;          
    }
    &__btn {
        width: 220px;
        height: 55px;
        margin: 30px auto 0 auto;
        padding: 12px 22px;
        background-color: #0082a1;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        transition: all .6s;
        cursor: pointer;
        &:hover {
            background-color: rgb(52, 177, 236);
            box-shadow: 5px 5px 15px rgb(31, 31, 31);
            transition: all .6s;
        }
        a {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.875;
            text-decoration: none;
            transition: all .6s;
        }
    }
}