.analytics {
    padding-top: 100px;
    min-height: 100%;
    &__before {
        margin-bottom: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-items {
            width: 250px;
            font-size: 18px;
            color: rgb(57, 57, 57);
            font-weight: 300;
            line-height: 1.444;
            text-align: center;            
        }
    }
    &__subtitle {
        margin-bottom: 50px;
        font-size: 48px;
        color: rgb(57, 57, 57);
        font-weight: 700;
        line-height: 0.625;        
        text-align: center;
    }
    &__after {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-items {
            width: 265px;
            font-size: 18px;
            color: rgb(57, 57, 57);
            font-weight: 700;
            line-height: 1.444;
            text-align: center;            
        }
    }
    &__dscr {
        margin-top: 20px;
    }
    img {
        width: 50%;
    }
}